
/* Estilo del fondo */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(150deg,#388e3c,#66bb6a);  /* Celeste claro */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo del formulario */
.login-form {
    width: 100%;
    max-width: 350px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px; /* Añadir margen para separar del borde */
}

/* Estilo para el logo */
.logo {
    width: 20px;
    height: auto;
    margin-bottom: 20px;
}

/* Estilos para los campos de entrada */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    background-color: #fafafa;
    transition: all 0.3s ease;
    color: #333;
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño */
}

/* Estilo al enfocar el campo de entrada */
input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #3897f0;
    box-shadow: 0 0 5px rgba(56, 151, 240, 0.5);
    outline: none;
}

/* Estilo del botón - Estilizado */
button {
    width: 100%;
    padding: 15px;
    background-color: #66bb6a; /* Verde claro */
    border: 2px solid transparent;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Efecto hover para el botón */
button:hover {
    background-color: #388e3c;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}

/* Efecto de clic para el botón */
button:active {
    transform: translateY(1px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos para los enlaces en el pie de página */
.footer {
    margin-top: 20px;
}

.footer a {
    display: block;
    font-size: 14px;
    color: #3897f0;
    text-decoration: none;
    margin: 4px 0;
}

.footer a:hover {
    text-decoration: underline;
    font-weight: bold;
}


